*{
	margin: 0;
	padding: 0;
}
.uhuy{
	width: 70%;
	margin: auto;
}
header{
	background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("saya.png");
	height: 110vh;
	background-size: cover;
	background-position: center center;
	position: fixed;
	right: 0;
	left: 0;
}
.navigasi{
	float: right;
	list-style: none;
	margin-top: 40px;
}
.navigasi li{
	display: inline-block;

}
.navigasi li a{
	color: #F8F8FF;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-align: center;
}
.navigasi li a:hover{
	background: #DCDCDC;
	color:#000000;
}
.welcome{
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 20% 30%;
	text-align: center;
}
.welcome h1{
	text-align: center;
	color: #fff;
	font-family: Mistral ;
	font-style: oblique;
	text-transform: uppercase;
	font-size: 80px;
}
.welcome a{
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}
.welcome a:hover{
	background: #3CB371;
	color: #FFFFE0;
}
.footer{
	background-color: #FFFFE0;
}